#tweets li {
	background:url(images/twitter.png) no-repeat left top ;
	padding-left:25px;
	list-style-type:none;
}

#tweets .hash {  } 

#tweets .reply { color:#0066CC; } 

#tweets a:link { text-decoration:none; color:#0066CC;}
#tweets a:active { text-decoration:none; color:#0066CC;}
#tweets a:hover { text-decoration:underline; color:#0066CC;}
#tweets a:visited { text-decoration:none; color:#0066CC;}

.widget-content a{text-decoration:none;}
.widget-content a:hover{text-decoration:underline;}
