.wpa{ font-size: 16px }
.wpa a{ text-decoration: none; }

.fs-lg{ font-size: 20px }

/* Alignments */
.fl{ float: left; }
.fr{ float: right; }

/* Navigation */
.nav {
  background: #fff;
  border-radius: 4px;
  box-shadow: #ccc 0 0 2px;
  line-height: 40px;
  margin-top: 10px;
}

.nav a{ text-decoration: none; }
.nav a.nav-link{ display: inline-block; padding: 0 15px }
.nav a.nav-link:hover{ background-color: #eee }

/* Cards */
.wpa .card{
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 1px 6px 0 rgba(117,117,117,.25);
}
.wpa .card p:last-child{ margin-bottom: 0 }